body
{
	background-image: url("BG.png");
}
#login1
{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    float: none;
    border-radius: 16px;
}
#login2
{
    background-color: rgba(255, 225, 255, 0.1);
    padding: 20px;
    float: none;
    border-radius: 16px;
}
#Ply
{
    font-weight: 900;
}
#Heading
{
    font-size: 60px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.800);
}
#login_button
{
    font-size: 20px;
    background-color: rgba(106, 0, 206, 0.295);
    border-width: 0px;
    border-radius: 5px;
}
#page_head
{
    font-size: 60px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.800);
}
#number1, #number2
{
    width: 300px;
}